.drag-wrapper[data-v-bc7a854c] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border-radius: .3703703704vh;
    border: .0925925926vh solid #212121;
    background-color: #161616;
    overflow: hidden
}

.drag-wrapper .header[data-v-bc7a854c] {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.6666666667vh;
    width: 100%;
    height: 5.1851851852vh;
    border-bottom: .0925925926vh solid #212121;
    background-color: #1a1a1a
}

.drag-wrapper .header[data-v-bc7a854c]>p {
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 700;
    line-height: 100%
}

.drag-wrapper .header .add-btn[data-v-bc7a854c] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.7407407407vh;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .2s ease,opacity .2s ease
}

.drag-wrapper .header .add-btn[data-v-bc7a854c]>svg {
    flex-shrink: 0;
    width: 2.3148148148vh;
    height: 2.3148148148vh;
    fill: hsla(0,0%,100%,.5);
    transition: fill .2s ease
}

.drag-wrapper .header .add-btn.active[data-v-bc7a854c],.drag-wrapper .header .add-btn[data-v-bc7a854c]:hover {
    background-color: #343434
}

.drag-wrapper .header .add-btn.active[data-v-bc7a854c]>svg,.drag-wrapper .header .add-btn[data-v-bc7a854c]:hover>svg {
    fill: #fff
}

.drag-wrapper .header .add-btn.disabled[data-v-bc7a854c] {
    pointer-events: none;
    opacity: .5
}

.drag-wrapper .list[data-v-bc7a854c] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden
}

[data-v-bc7a854c] {
    font-family: Proxima Nova,serif
}

.apply-setting-code[data-v-42bf2d36] {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2962962963vh;
    padding: 1.6666666667vh;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border: .0925925926vh solid #212121;
    background: #1a1a1a;
    border-radius: .3703703704vh;
    overflow: hidden
}

.apply-setting-code .header[data-v-42bf2d36] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.8518518519vh;
    width: 100%;
    height: 2.8703703704vh
}

.apply-setting-code .header .name[data-v-42bf2d36] {
    flex: 1;
    min-width: 4.6296296296vh;
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden
}

.apply-setting-code .input-wrapper[data-v-42bf2d36] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1.2962962963vh;
    width: 100%;
    height: 4.0740740741vh;
    border-radius: .3703703704vh;
    border: .0925925926vh solid #212121;
    background: #161616
}

.apply-setting-code .input-wrapper input[data-v-42bf2d36] {
    flex: 1;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%
}

.apply-setting-code .input-wrapper input[data-v-42bf2d36]::-moz-placeholder {
    color: #5c5c5c;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%
}

.apply-setting-code .input-wrapper input[data-v-42bf2d36]::placeholder {
    color: #5c5c5c;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%
}

.apply-setting-code .btn-wrapper[data-v-42bf2d36] {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: auto;
    grid-column-gap: .9259259259vh;
    width: 100%;
    height: 4.0740740741vh
}

.apply-setting-code .btn-wrapper .btn[data-v-42bf2d36] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1.4814814815vh;
    width: 100%;
    height: 100%;
    border-radius: .3703703704vh;
    background-color: #212121;
    transition: background-color .2s ease,opacity .2s ease;
    cursor: pointer
}

.apply-setting-code .btn-wrapper .btn[data-v-42bf2d36]>span {
    color: #b3b3b3;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s ease
}

.apply-setting-code .btn-wrapper .btn[data-v-42bf2d36]:hover {
    background-color: #343434
}

.apply-setting-code .btn-wrapper .btn:hover>span[data-v-42bf2d36] {
    color: #fff
}

.apply-setting-code .btn-wrapper .btn.disabled[data-v-42bf2d36] {
    pointer-events: none;
    opacity: .5
}

.apply-setting-code.removed[data-v-42bf2d36] {
    opacity: 0;
    pointer-events: none
}

.apply-setting-code.secondaryType[data-v-42bf2d36] {
    border-radius: 0;
    border-bottom: none
}

.apply-setting-code.secondaryType[data-v-42bf2d36]:first-child {
    border-radius: .3703703704vh .3703703704vh 0 0
}

.apply-setting-code.secondaryType[data-v-42bf2d36]:last-child {
    border-bottom: .0925925926vh solid #212121;
    border-radius: 0 0 .3703703704vh .3703703704vh
}

.apply-setting-code.secondaryType[data-v-42bf2d36]:is(:first-child):is(:last-child) {
    border-radius: .3703703704vh
}

.apply-setting-code[data-v-42bf2d36]:before {
    content: "";
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,8%,.8);
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none
}

.apply-setting-code.disabled[data-v-42bf2d36] {
    pointer-events: none
}

.apply-setting-code.disabled[data-v-42bf2d36]:before {
    opacity: 1
}

[data-v-42bf2d36] {
    font-family: Proxima Nova,serif
}

.macro-item[data-v-1eff9fd4] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2962962963vh;
    padding: 0 1.6666666667vh;
    height: 4.6296296296vh;
    width: 100%;
    background-color: #141414;
    box-shadow: 0 0 1.3888888889vh 0 transparent;
    border-top: .0925925926vh solid transparent;
    border-bottom: .0925925926vh solid #212121;
    cursor: pointer;
    transition-property: background-color,transform,border,box-shadow;
    transition-timing-function: ease;
    transition-duration: .2s
}

.macro-item[data-v-1eff9fd4]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg,rgba(232,28,90,0),rgba(232,28,90,.7)),#141414;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease
}

.macro-item>p[data-v-1eff9fd4] {
    position: relative;
    color: hsla(0,0%,100%,.5);
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .2s ease
}

.macro-item .drag[data-v-1eff9fd4] {
    position: absolute;
    top: 0;
    right: 1.6666666667vh;
    bottom: 0;
    left: calc(100% - 2.59259vh);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: .3703703704vh;
    width: .9259259259vh;
    height: 1.5740740741vh;
    cursor: pointer
}

.macro-item .drag>div[data-v-1eff9fd4] {
    flex-shrink: 0;
    width: .2777777778vh;
    height: .2777777778vh;
    border-radius: 50%;
    background-color: hsla(0,0%,100%,.1);
    transition: background-color .2s ease
}

.macro-item .drag:hover>div[data-v-1eff9fd4] {
    background-color: #fff
}

.macro-item[data-v-1eff9fd4]:hover {
    background-color: #1a1a1a
}

.macro-item:hover>p[data-v-1eff9fd4] {
    color: #fff
}

.macro-item.isActive[data-v-1eff9fd4]:before {
    opacity: 1
}

.macro-item.isActive>p[data-v-1eff9fd4] {
    color: #fff
}

.macro-item.isActive>.drag>div[data-v-1eff9fd4] {
    background-color: #fff
}

[data-v-1eff9fd4] {
    font-family: Proxima Nova
}

.pageT-enter-from[data-v-449f6fb4],.pageT-leave-to[data-v-449f6fb4] {
    opacity: 0
}

.pageT-enter-active[data-v-449f6fb4],.pageT-leave-active[data-v-449f6fb4] {
    transition: opacity .2s ease
}

.pageT-leave-active[data-v-449f6fb4] {
    pointer-events: none
}

.select[data-v-449f6fb4] {
    flex: 2;
    display: grid;
    grid-template-columns: 21fr 164fr 21fr;
    grid-gap: .7407407407vh;
    justify-content: space-between;
    align-items: center;
    height: 2.2222222222vh;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 20.5555555556vh
}

.select .btn[data-v-449f6fb4] {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9444444444vh;
    height: 100%;
    border-radius: .3703703704vh;
    background: rgba(41,41,41,.9);
    cursor: pointer;
    transition: background .2s ease,opacity .2s ease
}

.select .btn[data-v-449f6fb4]>svg {
    stroke-width: 1px;
    stroke: #fff;
    height: .9259259259vh;
    transform: rotate(90deg)
}

.select .btn.right[data-v-449f6fb4] {
    transform: rotate(-180deg)
}

.select .btn[data-v-449f6fb4]:hover {
    background: #454545
}

.select .btn.disabled[data-v-449f6fb4] {
    pointer-events: none;
    opacity: .5
}

.select .item-wrapper[data-v-449f6fb4] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .7407407407vh;
    padding: 0 .9259259259vh;
    max-width: 100%;
    height: 100%;
    border-radius: .3703703704vh;
    overflow: hidden
}

.select .item-wrapper[data-v-449f6fb4] .icon,.select .item-wrapper[data-v-449f6fb4]>img {
    width: 1.2962962963vh;
    height: 1.2962962963vh
}

.select .item-wrapper[data-v-449f6fb4]>p {
    color: #fff;
    text-align: center;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.select.isSmall[data-v-449f6fb4] {
    max-width: 12.5vh
}

.select.isSmall .item-wrapper[data-v-449f6fb4] {
    margin: 0 auto;
    min-width: 5.5555555556vh;
    background: #212121
}

[data-v-449f6fb4] {
    font-family: Proxima Nova,serif
}

.default-select .select .item-wrapper>p[data-v-711056a6] {
    cursor: pointer
}

[data-v-711056a6] {
    font-family: Proxima Nova,serif
}

.menuT-enter-from[data-v-9a1820ac],.menuT-leave-to[data-v-9a1820ac],.modalT-enter-from[data-v-9a1820ac],.modalT-leave-to[data-v-9a1820ac],.pageT-enter-from[data-v-9a1820ac],.pageT-leave-to[data-v-9a1820ac] {
    opacity: 0
}

.menuT-enter-active[data-v-9a1820ac],.menuT-leave-active[data-v-9a1820ac],.modalT-enter-active[data-v-9a1820ac],.modalT-leave-active[data-v-9a1820ac],.pageT-enter-active[data-v-9a1820ac],.pageT-leave-active[data-v-9a1820ac] {
    transition: opacity .2s ease
}

.menuT-leave-active[data-v-9a1820ac],.modalT-leave-active[data-v-9a1820ac],.pageT-leave-active[data-v-9a1820ac] {
    pointer-events: none
}

.action-item[data-v-9a1820ac] {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.9444444444vh;
    width: 100%;
    background: #141414
}

.action-item .wrapper[data-v-9a1820ac] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.8518518519vh;
    padding-left: 2.7777777778vh;
    height: 4.6296296296vh;
    width: 100%;
    border-bottom: .0925925926vh solid #212121
}

.action-item .wrapper .drag[data-v-9a1820ac] {
    position: absolute;
    top: 0;
    left: .9259259259vh;
    bottom: 0;
    right: calc(100% - 1.85185vh);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: .3703703704vh;
    width: .9259259259vh;
    height: 1.5740740741vh;
    cursor: pointer
}

.action-item .wrapper .drag>div[data-v-9a1820ac] {
    flex-shrink: 0;
    width: .2777777778vh;
    height: .2777777778vh;
    border-radius: 50%;
    background-color: hsla(0,0%,100%,.1);
    transition: background-color .2s ease,opacity .2s ease
}

.action-item .wrapper .drag:hover>div[data-v-9a1820ac] {
    background-color: #fff
}

.action-item .wrapper .drag.disabled[data-v-9a1820ac] {
    pointer-events: none;
    opacity: 0
}

.action-item .wrapper .input-wrapper[data-v-9a1820ac] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.action-item .wrapper .input-wrapper>p[data-v-9a1820ac] {
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%
}

.action-item .wrapper .input-wrapper .select[data-v-9a1820ac] {
    margin-left: auto
}

.action-item .wrapper .remove[data-v-9a1820ac] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.7407407407vh;
    height: 4.6296296296vh;
    border-left: .0925925926vh solid #212121;
    background-color: transparent;
    transition: background-color .2s ease;
    cursor: pointer
}

.action-item .wrapper .remove>div[data-v-9a1820ac] {
    flex-shrink: 0;
    width: 1.4814814815vh;
    height: .1851851852vh;
    border-radius: 500px;
    background-color: hsla(0,0%,100%,.5);
    transition: background-color .2s ease,opacity .2s ease
}

.action-item .wrapper .remove[data-v-9a1820ac]:hover {
    background-color: #9d2233
}

.action-item .wrapper .remove:hover>div[data-v-9a1820ac] {
    background-color: #fff
}

.action-item .wrapper .remove.disabled[data-v-9a1820ac] {
    pointer-events: none;
    opacity: 0
}

.action-item .bottom[data-v-9a1820ac] {
    padding: 0 1.6666666667vh 1.6666666667vh;
    border-bottom: .0925925926vh solid #212121;
    background: #141414
}

.action-item .bottom .message[data-v-9a1820ac],.action-item .bottom[data-v-9a1820ac] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%
}

.action-item .bottom .message[data-v-9a1820ac] {
    gap: 1.2962962963vh
}

.action-item .bottom .message .input-wrapper[data-v-9a1820ac] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.2962962963vh 2.5925925926vh 1.2962962963vh 1.6666666667vh;
    width: 100%;
    border-radius: .3703703704vh;
    border: .0925925926vh solid #212121;
    background-color: #161616;
    transition: border .2s ease
}

.action-item .bottom .message .input-wrapper>textarea[data-v-9a1820ac] {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    overflow: hidden
}

.action-item .bottom .message .input-wrapper>textarea[data-v-9a1820ac]::-moz-placeholder {
    color: hsla(0,0%,100%,.3)
}

.action-item .bottom .message .input-wrapper>textarea[data-v-9a1820ac]::placeholder {
    color: hsla(0,0%,100%,.3)
}

.action-item .bottom .message .input-wrapper .loader[data-v-9a1820ac] {
    position: absolute;
    top: .6481481481vh;
    right: .6481481481vh;
    width: 1.2962962963vh;
    height: 1.2962962963vh;
    border: .1851851852vh solid hsla(0,0%,100%,.5);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-flex;
    box-sizing: border-box;
    animation: rotation-9a1820ac 1s linear infinite
}

@keyframes rotation-9a1820ac {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.action-item .bottom .message .input-wrapper.error[data-v-9a1820ac] {
    border-color: #db4446
}

[data-v-9a1820ac] {
    font-family: Proxima Nova
}

.switch[data-v-0ef2f444] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .0925925926vh;
    width: 3.2407407407vh;
    height: 1.8518518519vh;
    border: .0925925926vh solid #2e2e2e;
    border-radius: 9.2592592593vh;
    background: #292929;
    cursor: pointer;
    transition: background .2s ease
}

.switch .point[data-v-0ef2f444] {
    width: 1.4814814815vh;
    height: 1.4814814815vh;
    border-radius: 50%;
    background-color: #fff;
    transition: transform .2s ease
}

.switch[data-v-0ef2f444]:hover {
    border-color: #292929;
    background: #2e2e2e
}

.switch.active[data-v-0ef2f444] {
    background: #e81c5a
}

.switch.active .point[data-v-0ef2f444] {
    transform: translateX(calc(100% - .09259vh))
}

[data-v-0ef2f444] {
    font-family: Proxima Nova,serif
}

.bind[data-v-1ad264aa] {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,auto));
    align-items: center;
    justify-content: flex-end;
    grid-gap: .462962963vh
}

.bind .tooltip[data-v-1ad264aa] {
    opacity: 0;
    color: #686868;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: opacity .2s ease
}

.bind[data-v-1ad264aa] .bind-value {
    padding: 0 .7407407407vh;
    min-width: 4.0740740741vh;
    height: 2.4074074074vh;
    background-color: #fff;
    border-radius: .3703703704vh;
    border: .1851851852vh solid transparent;
    cursor: pointer;
    transition: background-color .2s ease,border .2s ease
}

.bind[data-v-1ad264aa] .bind-value:hover {
    background-color: #fad2de
}

.bind.active .tooltip[data-v-1ad264aa] {
    opacity: 1
}

.bind.active[data-v-1ad264aa] .bind-value {
    background-color: #fff;
    border: .1851851852vh solid rgba(232,28,90,.698)
}

[data-v-1ad264aa] {
    font-family: Proxima Nova,serif
}

.parameter-item[data-v-44545b1d] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border: .0925925926vh solid #212121;
    background: #1a1a1a;
    border-radius: .3703703704vh;
    transition: border .2s ease
}

.parameter-item .header[data-v-44545b1d] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .9259259259vh;
    padding: 0 1.6666666667vh;
    width: 100%;
    height: 5.1851851852vh
}

.parameter-item .header .name[data-v-44545b1d] {
    flex: 1;
    padding: .8333333333vh 0;
    max-height: 100%;
    min-width: 4.6296296296vh;
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden
}

[data-v-44545b1d] {
    font-family: Proxima Nova,serif
}

.menuT-enter-from[data-v-5417c5e6],.menuT-leave-to[data-v-5417c5e6],.modalT-enter-from[data-v-5417c5e6],.modalT-leave-to[data-v-5417c5e6],.pageT-enter-from[data-v-5417c5e6],.pageT-leave-to[data-v-5417c5e6] {
    opacity: 0
}

.menuT-enter-active[data-v-5417c5e6],.menuT-leave-active[data-v-5417c5e6],.modalT-enter-active[data-v-5417c5e6],.modalT-leave-active[data-v-5417c5e6],.pageT-enter-active[data-v-5417c5e6],.pageT-leave-active[data-v-5417c5e6] {
    transition: opacity .2s ease
}

.menuT-leave-active[data-v-5417c5e6],.modalT-leave-active[data-v-5417c5e6],.pageT-leave-active[data-v-5417c5e6] {
    pointer-events: none
}

.rename-delete-panel[data-v-5417c5e6] {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .7407407407vh;
    width: 100%;
    height: 5.1851851852vh
}

.rename-delete-panel .input-wrapper[data-v-5417c5e6] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 .9259259259vh 0 1.2962962963vh;
    height: 100%;
    width: 100%;
    border-radius: .3703703704vh;
    border: .0925925926vh solid #212121;
    background-color: #161616;
    transition: border .2s ease
}

.rename-delete-panel .input-wrapper>input[data-v-5417c5e6] {
    width: 100%;
    background-color: transparent;
    border: none;
    color: hsla(0,0%,100%,.75);
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%
}

.rename-delete-panel .input-wrapper>input[data-v-5417c5e6]::-moz-placeholder {
    color: hsla(0,0%,100%,.25)
}

.rename-delete-panel .input-wrapper>input[data-v-5417c5e6]::placeholder {
    color: hsla(0,0%,100%,.25)
}

.rename-delete-panel .input-wrapper .loader[data-v-5417c5e6] {
    width: 1.2962962963vh;
    height: 1.2962962963vh;
    border: .1851851852vh solid hsla(0,0%,100%,.5);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-flex;
    box-sizing: border-box;
    animation: rotation-5417c5e6 1s linear infinite
}

@keyframes rotation-5417c5e6 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.rename-delete-panel .input-wrapper.error[data-v-5417c5e6] {
    border-color: #db4446
}

.rename-delete-panel .delete-btn[data-v-5417c5e6] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.7407407407vh;
    height: 100%;
    border-radius: .3703703704vh;
    background-color: #212121;
    cursor: pointer;
    transition: background-color .2s ease
}

.rename-delete-panel .delete-btn[data-v-5417c5e6]>svg {
    flex-shrink: 0;
    width: 2.2222222222vh;
    height: 2.2222222222vh;
    fill: hsla(0,0%,100%,.5);
    transition: fill .2s ease
}

.rename-delete-panel .delete-btn[data-v-5417c5e6]:hover {
    background-color: #343434
}

.rename-delete-panel .delete-btn[data-v-5417c5e6]:hover>svg {
    fill: #fff
}

[data-v-5417c5e6] {
    font-family: Proxima Nova,serif
}

.range[data-v-4e3642ee] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.3888888889vh;
    max-width: 20.5555555556vh;
    width: 100%;
    height: 2.2222222222vh
}

.range .sliderInput[data-v-4e3642ee] {
    flex: 1;
    height: 100%
}

.range .sliderInput[data-v-4e3642ee] .vue-slider {
    flex: 1;
    height: 100%!important;
    padding: 0!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important
}

.range .sliderInput[data-v-4e3642ee] .vue-slider .vue-slider-rail {
    flex: 1;
    height: .2777777778vh!important;
    background-color: #292929!important;
    border-radius: .2777777778vh;
    cursor: pointer
}

.range .sliderInput[data-v-4e3642ee] .vue-slider .vue-slider-rail .vue-slider-process {
    background-color: #e81c5a!important;
    border-radius: .2777777778vh
}

.range .sliderInput[data-v-4e3642ee] .vue-slider .vue-slider-rail .vue-slider-dot {
    width: 1.4814814815vh!important;
    height: 1.4814814815vh!important;
    border-radius: 50%!important;
    background-color: #fff!important;
    cursor: pointer
}

.range .value[data-v-4e3642ee] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 .462962963vh;
    height: 100%;
    width: 3.7037037037vh;
    border-radius: .3703703704vh;
    background: #292929
}

.range .value .input[data-v-4e3642ee] {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%
}

[data-v-4e3642ee] {
    font-family: Proxima Nova,serif
}

.default-range[data-v-54995b2a] {
    width: 100%;
    max-width: 20.5555555556vh
}

[data-v-54995b2a] {
    font-family: Proxima Nova,serif
}

.color-picker[data-v-0d503cc7] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .9259259259vh;
    width: 100%
}

.color-picker[data-v-0d503cc7]>span {
    color: #868686;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.color-picker .btn[data-v-0d503cc7] {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2.7777777778vh;
    height: 2.4074074074vh;
    border-radius: .2777777778vh;
    border: .0925925926vh solid transparent;
    cursor: pointer;
    transition: background-color .2s ease,border .2s ease
}

.color-picker .btn[data-v-0d503cc7]>svg {
    width: 1.4814814815vh;
    height: 1.4814814815vh;
    fill: var(--6d0068fe);
    transition: fill .2s ease
}

.color-picker.selected .btn[data-v-0d503cc7] {
    border: .0925925926vh solid var(--fd44fc24)
}

[data-v-0d503cc7] {
    font-family: Proxima Nova,serif
}

.color-picker[data-v-dedcb410] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.3888888889vh
}

[data-v-dedcb410] {
    font-family: Proxima Nova,serif
}

.slider[data-v-483fc7f7] {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: minmax(0,140fr) minmax(0,187fr);
    align-items: center;
    justify-content: center;
    grid-gap: .9259259259vh
}

.slider[data-v-483fc7f7]>span {
    width: 100%;
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.slider[data-v-483fc7f7] .vue-slider {
    padding: 0!important;
    height: .3703703704vh!important
}

.slider[data-v-483fc7f7] .vue-slider:before {
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 100%;
    border-radius: .3703703704vh;
    background-size: .3703703704vh .3703703704vh;
    background-position: 0 0,.1851851852vh .1851851852vh
}

.slider[data-v-483fc7f7] .vue-slider .vue-slider-process:before,.slider[data-v-483fc7f7] .vue-slider:before {
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    background-image: linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 75%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2)),linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 75%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2))
}

.slider[data-v-483fc7f7] .vue-slider .vue-slider-process:before {
    top: 50%;
    width: 1.4814814815vh;
    height: 1.4814814815vh;
    border-radius: 50%;
    background-size: 1.4814814815vh 1.4814814815vh;
    background-position: 0 0,.7407407407vh .7407407407vh;
    transform: translateX(50%) translateY(-50%)
}

.slider[data-v-483fc7f7] .vue-slider .vue-slider-dot {
    position: relative;
    width: 1.4814814815vh!important;
    height: 1.4814814815vh!important;
    background-color: var(--3c6660ce);
    border-radius: 1.4814814815vh;
    border: .0925925926vh solid #fff;
    box-shadow: 0 0 2.962962963vh 0 rgba(0,0,0,.5);
    cursor: pointer
}

.slider[data-v-483fc7f7] .vue-slider .vue-slider-rail {
    position: relative;
    z-index: 1;
    cursor: pointer
}

.slider[data-v-483fc7f7] .vue-slider .vue-slider-rail,.slider[data-v-483fc7f7] .vue-slider .vue-slider-rail .vue-slider-process {
    height: 100%!important;
    border-radius: .3703703704vh!important
}

.slider.hue[data-v-483fc7f7] .vue-slider .vue-slider-rail {
    background: var(--12f92734)
}

.slider.saturation[data-v-483fc7f7] .vue-slider .vue-slider-rail {
    background: var(--4a21b7ca)
}

.slider.lightness[data-v-483fc7f7] .vue-slider .vue-slider-rail {
    background: var(--93c826c6)
}

.slider.alpha[data-v-483fc7f7] .vue-slider .vue-slider-rail {
    background: var(--e429b1e4)
}

.color-picker[data-v-d04350d8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2.2222222222vh
}

.color-picker .color-control[data-v-d04350d8] {
    display: grid;
    grid-template-columns: minmax(0,327fr) minmax(0,149fr);
    grid-gap: 1.8518518519vh;
    width: 100%
}

.color-picker .color-control .sliders[data-v-d04350d8] {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1.9907407407vh
}

.color-picker .color-control .color[data-v-d04350d8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: .7407407407vh;
    width: 100%;
    height: 100%
}

.color-picker .color-control .color-preview[data-v-d04350d8] {
    position: relative;
    width: 100%;
    height: 3.7962962963vh;
    border-radius: .3703703704vh;
    border: .0925925926vh solid hsla(0,0%,100%,.5);
    overflow: hidden
}

.color-picker .color-control .color-preview-value[data-v-d04350d8] {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%
}

.color-picker .color-control .color-preview[data-v-d04350d8]:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 75%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2)),linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 75%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2));
    background-size: 1.8518518519vh 1.8518518519vh;
    background-position: 0 0,.9259259259vh .9259259259vh
}

.color-picker .color-control .color-code[data-v-d04350d8] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5555555556vh;
    padding: 0 1.2962962963vh;
    width: 100%;
    height: 3.7962962963vh;
    border-radius: .3703703704vh;
    border: .0925925926vh solid #212121;
    background: #161616;
    transition: border .2s ease
}

.color-picker .color-control .color-code[data-v-d04350d8]>p {
    color: hsla(0,0%,100%,.5);
    text-align: right;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%
}

.color-picker .color-control .color-code>input[data-v-d04350d8] {
    flex: 1;
    width: inherit;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    transition: color .2s ease
}

.color-picker .color-control .color-code.error[data-v-d04350d8] {
    border: .0925925926vh solid #de3c3c
}

.color-picker .color-control .color-code.error>input[data-v-d04350d8] {
    color: #de3c3c
}

.color-picker .color-control[data-v-d04350d8] .color-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .9259259259vh;
    margin-top: 1.4814814815vh;
    height: 4.0740740741vh;
    width: 100%;
    border-radius: .3703703704vh;
    background-color: #292929;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s ease
}

.color-picker .color-control[data-v-d04350d8] .color-reset>span {
    color: #b3b3b3;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s ease
}

.color-picker .color-control[data-v-d04350d8] .color-reset:hover {
    background-color: #343434
}

.color-picker .color-control[data-v-d04350d8] .color-reset:hover>span {
    color: #fff
}

.color-picker[data-v-d04350d8] .btns {
    gap: .7407407407vh;
    height: 4.0740740741vh
}

.color-picker[data-v-d04350d8] .btns,.color-picker[data-v-d04350d8] .btns .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%
}

.color-picker[data-v-d04350d8] .btns .btn {
    padding: 0 .9259259259vh;
    height: 100%;
    border-radius: .3703703704vh;
    background-color: #292929;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s ease,color .2s ease,opacity .2s ease
}

.color-picker[data-v-d04350d8] .btns .btn>span {
    color: #b3b3b3;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s ease
}

.color-picker[data-v-d04350d8] .btns .btn:hover {
    background-color: #343434;
    color: #fff
}

.color-picker[data-v-d04350d8] .btns .btn.disable {
    pointer-events: none;
    opacity: .5
}

[data-v-d04350d8] {
    font-family: Proxima Nova,serif
}

.menuT-enter-from[data-v-1725493a],.menuT-leave-to[data-v-1725493a],.modalT-enter-from[data-v-1725493a],.modalT-leave-to[data-v-1725493a],.pageT-enter-from[data-v-1725493a],.pageT-leave-to[data-v-1725493a] {
    opacity: 0
}

.menuT-enter-active[data-v-1725493a],.menuT-leave-active[data-v-1725493a],.modalT-enter-active[data-v-1725493a],.modalT-leave-active[data-v-1725493a],.pageT-enter-active[data-v-1725493a],.pageT-leave-active[data-v-1725493a] {
    transition: opacity .2s ease
}

.menuT-leave-active[data-v-1725493a],.modalT-leave-active[data-v-1725493a],.pageT-leave-active[data-v-1725493a] {
    pointer-events: none
}

.setting-item[data-v-1725493a] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border: .0925925926vh solid #212121;
    background: #1a1a1a;
    border-radius: .3703703704vh;
    transition: border .2s ease
}

.setting-item .header[data-v-1725493a] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .9259259259vh;
    padding: 0 1.6666666667vh;
    width: 100%;
    height: 5.1851851852vh
}

.setting-item .header .name[data-v-1725493a] {
    flex: 1;
    padding: .8333333333vh 0;
    max-height: 100%;
    min-width: 4.6296296296vh;
    color: #fff;
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden
}

.setting-item .dropDown[data-v-1725493a] {
    position: absolute;
    z-index: 15;
    top: 100%;
    left: -.0925925926vh;
    padding: 1.8518518519vh 1.6666666667vh;
    width: calc(100% + .18519vh);
    border-radius: 0 0 .3703703704vh .3703703704vh;
    border: .0925925926vh solid #212121;
    background: #1a1a1a
}

.setting-item .dropDown[data-v-1725493a]:before {
    content: "";
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,8%,.8);
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none
}

.setting-item .dropDown .overlay[data-v-1725493a] {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.setting-item .dropDown-item[data-v-1725493a] {
    position: relative;
    z-index: 13
}

.setting-item .dropDown.disabled[data-v-1725493a] {
    pointer-events: none;
    overflow: hidden
}

.setting-item .dropDown.disabled[data-v-1725493a]:before {
    opacity: 1
}

.setting-item[data-v-1725493a]:is(.hasDropDown):is(.openedDropDown):not(.disabled) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.setting-item.removed[data-v-1725493a] {
    opacity: 0;
    pointer-events: none
}

.setting-item[data-v-1725493a]:before {
    content: "";
    position: absolute;
    z-index: 14;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,8%,.8);
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none
}

.setting-item.disabled[data-v-1725493a] {
    pointer-events: none;
    overflow: hidden
}

.setting-item.disabled[data-v-1725493a]:before {
    opacity: 1
}

.enabledPointer[data-v-1725493a] {
    position: relative;
    z-index: 99
}

[data-v-1725493a] {
    font-family: Proxima Nova,serif
}

.column-wrapper[data-v-25785e6e] {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: auto;
    grid-row-gap: .7407407407vh;
    grid-column-gap: 1.3888888889vh;
    height: -moz-fit-content;
    height: fit-content
}

.column-wrapper.single[data-v-25785e6e] {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.column-wrapper.glued-columns[data-v-25785e6e] {
    grid-row-gap: 0;
    border-radius: .3703703704vh;
    border: .0925925926vh solid #212121
}

.column-wrapper.glued-columns[data-v-25785e6e] .parameter-item,.column-wrapper.glued-columns[data-v-25785e6e] .setting-item {
    border: none;
    border-radius: 0
}

.column-wrapper.glued-columns[data-v-25785e6e] .parameter-item:not(:last-child),.column-wrapper.glued-columns[data-v-25785e6e] .setting-item:not(:last-child) {
    border-bottom: .0925925926vh solid #212121
}

.column-wrapper.glued-columns[data-v-25785e6e] .parameter-item:first-child,.column-wrapper.glued-columns[data-v-25785e6e] .setting-item:first-child {
    border-radius: .3703703704vh .3703703704vh 0 0
}

.column-wrapper.glued-columns[data-v-25785e6e] .parameter-item:last-child,.column-wrapper.glued-columns[data-v-25785e6e] .setting-item:last-child {
    border-radius: 0 0 .3703703704vh .3703703704vh
}

[data-v-25785e6e] {
    font-family: Proxima Nova,serif
}

.menuT-enter-from[data-v-4661b6c8],.menuT-leave-to[data-v-4661b6c8],.modalT-enter-from[data-v-4661b6c8],.modalT-leave-to[data-v-4661b6c8],.pageT-enter-from[data-v-4661b6c8],.pageT-leave-to[data-v-4661b6c8] {
    opacity: 0
}

.menuT-enter-active[data-v-4661b6c8],.menuT-leave-active[data-v-4661b6c8],.modalT-enter-active[data-v-4661b6c8],.modalT-leave-active[data-v-4661b6c8],.pageT-enter-active[data-v-4661b6c8],.pageT-leave-active[data-v-4661b6c8] {
    transition: opacity .2s ease
}

.menuT-leave-active[data-v-4661b6c8],.modalT-leave-active[data-v-4661b6c8],.pageT-leave-active[data-v-4661b6c8] {
    pointer-events: none
}

.page[data-v-4661b6c8] {
    height: 100%
}

.header .actions[data-v-4661b6c8] {
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    justify-content: flex-start;
    grid-gap: 1.3888888889vh;
    height: 4.0740740741vh
}

.header .actions .action[data-v-4661b6c8] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7407407407vh;
    padding: 0 1.2962962963vh;
    height: 100%;
    border-radius: .3703703704vh;
    background-color: #1b1b1b;
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s ease,opacity .2s ease
}

.header .actions .action>svg[data-v-4661b6c8] {
    flex-shrink: 0;
    width: 1.4814814815vh;
    height: 1.4814814815vh;
    fill: hsla(0,0%,100%,.3);
    transition: fill .2s ease
}

.header .actions .action>span[data-v-4661b6c8] {
    color: hsla(0,0%,100%,.5);
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .2s ease
}

.header .actions .action[data-v-4661b6c8]:hover {
    background-color: #212121
}

.header .actions .action:hover>svg[data-v-4661b6c8] {
    fill: hsla(0,0%,100%,.5)
}

.header .actions .action:hover>span[data-v-4661b6c8] {
    color: #fff
}

.header .actions .action.disabled[data-v-4661b6c8] {
    pointer-events: none;
    opacity: .5
}

.wrapper[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.7777777778vh;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.wrapper .profiles[data-v-4661b6c8] {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3.7037037037vh;
    width: 100%
}

.wrapper .profiles .scroll-btn[data-v-4661b6c8] {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.9444444444vh;
    height: 100%;
    border-radius: .3703703704vh;
    background-color: rgba(41,41,41,.9);
    cursor: pointer;
    transition: background-color .2s ease
}

.wrapper .profiles .scroll-btn>svg[data-v-4661b6c8] {
    height: 1.1111111111vh;
    stroke: #fff;
    transform: rotate(90deg)
}

.wrapper .profiles .scroll-btn.right>svg[data-v-4661b6c8] {
    transform: rotate(-90deg)
}

.wrapper .profiles .scroll-btn[data-v-4661b6c8]:hover {
    background-color: #e81c5a
}

.wrapper .profiles .profiles-line-wrapper[data-v-4661b6c8] {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg,transparent,#000 1.8518518519vh,#000 calc(100% - 1.85185vh),transparent);
    mask-image: linear-gradient(90deg,transparent,#000 1.8518518519vh,#000 calc(100% - 1.85185vh),transparent)
}

.wrapper .profiles .profiles-line-wrapper .profiles-line[data-v-4661b6c8] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1.8518518519vh;
    height: 100%;
    overflow-x: scroll
}

.wrapper .profiles .profiles-line-wrapper .profiles-line[data-v-4661b6c8]::-webkit-scrollbar {
    display: none
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile[data-v-4661b6c8] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.8518518519vh;
    height: 100%;
    background: #1b1b1b;
    cursor: pointer;
    transition: background-color .2s ease
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile[data-v-4661b6c8]:first-child {
    border-top-left-radius: .3703703704vh;
    border-bottom-left-radius: .3703703704vh
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile[data-v-4661b6c8]:last-child {
    border-top-right-radius: .3703703704vh;
    border-bottom-right-radius: .3703703704vh
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile[data-v-4661b6c8]:not(:last-child) {
    border-right: .0925925926vh solid hsla(0,0%,100%,.05)
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile>span[data-v-4661b6c8] {
    color: hsla(0,0%,100%,.5);
    font-size: 1.4814814815vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    white-space: nowrap;
    transition: color .2s ease
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile[data-v-4661b6c8]:hover {
    background-color: #212121
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile:hover>span[data-v-4661b6c8] {
    color: #fff
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile.selected[data-v-4661b6c8] {
    background-color: #e81c5a
}

.wrapper .profiles .profiles-line-wrapper .profiles-line .profile.selected>span[data-v-4661b6c8] {
    color: #fff
}

.wrapper .profiles.single[data-v-4661b6c8] {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%
}

.wrapper .profiles.single .profiles-line-wrapper[data-v-4661b6c8] {
    -webkit-mask-image: none;
    mask-image: none
}

.wrapper .profiles.single .profiles-line-wrapper .profiles-line[data-v-4661b6c8] {
    padding: 0
}

.wrapper .content[data-v-4661b6c8] {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: 1.3888888889vh;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.wrapper .content .config-macros-list[data-v-4661b6c8] {
    gap: 1.3888888889vh
}

.wrapper .content .config-macros-list .body[data-v-4661b6c8],.wrapper .content .config-macros-list[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.wrapper .content .config-macros-list .body[data-v-4661b6c8] {
    gap: .7407407407vh
}

.wrapper .content .config-macros-list .body>.drag-wrapper .list .drop-list[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%
}

.wrapper .content .config-macros-list .body>.drag-wrapper .list .drop-list .dnd-drag[data-v-4661b6c8] {
    width: 100%;
    transition: transform .2s ease
}

.wrapper .content .config-macros-list .body>.drag-wrapper .list .drop-list .dnd-drag.drag-mode-reordering .macro-item[data-v-4661b6c8] {
    border-top: .0925925926vh solid #383838;
    border-bottom: .0925925926vh solid #383838;
    background-color: #1a1a1a;
    box-shadow: 0 0 1.3888888889vh 0 hsla(0,0%,7%,.25)
}

.wrapper .content .config-macros-list .body>.drag-wrapper .list .drop-list .dnd-drag.drag-mode-reordering .macro-item>.drag>div[data-v-4661b6c8] {
    background-color: #fff
}

.wrapper .content .config-macros-list .body>.drag-wrapper .list .empty-macros[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.7777777778vh;
    padding: 0 2.7777777778vh;
    margin: auto
}

.wrapper .content .config-macros-list .body>.drag-wrapper .list .empty-macros>svg[data-v-4661b6c8] {
    width: 5.5555555556vh;
    height: 5.5555555556vh;
    fill: hsla(0,0%,100%,.25)
}

.wrapper .content .config-macros-list .body>.drag-wrapper .list .empty-macros>p[data-v-4661b6c8] {
    color: hsla(0,0%,100%,.75);
    font-size: 1.4814814815vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-align: center
}

.wrapper .content .config-macros-list .body .apply-setting-code[data-v-4661b6c8] {
    margin-top: 0
}

.wrapper .content .config-macro-item[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.3888888889vh;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.wrapper .content .config-macro-item .column-wrapper[data-v-4661b6c8] {
    width: 100%
}

.wrapper .content .config-macro-item>.body[data-v-4661b6c8] {
    gap: .9259259259vh;
    overflow: hidden
}

.wrapper .content .config-macro-item>.body .drag-wrapper .list .drop-list[data-v-4661b6c8],.wrapper .content .config-macro-item>.body[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%
}

.wrapper .content .config-macro-item>.body .drag-wrapper .list .drop-list .dnd-drag[data-v-4661b6c8] {
    width: 100%;
    transition: transform .2s ease
}

.wrapper .content .config-macro-item>.body .drag-wrapper .list .drop-list .dnd-drag.drag-mode-reordering[data-v-4661b6c8] .action-item>.wrapper>.drag>div {
    background-color: #fff
}

.wrapper .content .config-macro-item>.body .drag-wrapper .list .empty-actions[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.7777777778vh;
    margin: auto;
    max-width: 30.8333333333vh
}

.wrapper .content .config-macro-item>.body .drag-wrapper .list .empty-actions>svg[data-v-4661b6c8] {
    width: 12.962962963vh;
    height: 11.1111111111vh;
    fill: hsla(0,0%,100%,.5)
}

.wrapper .content .config-macro-item>.body .drag-wrapper .list .empty-actions>p[data-v-4661b6c8] {
    color: hsla(0,0%,100%,.75);
    font-size: 1.4814814815vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: center
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .overlay[data-v-4661b6c8] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .actions-list[data-v-4661b6c8] {
    position: absolute;
    right: .9259259259vh;
    top: 6.1111111111vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: .8333333333vh;
    padding: 1.6666666667vh;
    width: 22.5925925926vh;
    border-radius: .3703703704vh;
    border: .0925925926vh solid #212121;
    background: #1a1a1a;
    box-shadow: 0 .3703703704vh 1.8518518519vh 0 hsla(0,0%,7%,.13)
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .actions-list .action-type[data-v-4661b6c8] {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .7407407407vh;
    padding: 0 1.6666666667vh;
    width: 100%;
    height: 3.5185185185vh;
    border-radius: .3703703704vh;
    background: #292929;
    cursor: pointer;
    transition: background-color .2s ease
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .actions-list .action-type>svg[data-v-4661b6c8] {
    flex-shrink: 0;
    width: 1.2962962963vh;
    height: 1.2962962963vh;
    fill: hsla(0,0%,100%,.2);
    transition: fill .2s ease
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .actions-list .action-type>span[data-v-4661b6c8] {
    color: hsla(0,0%,100%,.5);
    font-size: 1.2962962963vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .2s ease
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .actions-list .action-type[data-v-4661b6c8]:hover {
    background-color: #e81c5a
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .actions-list .action-type:hover>svg[data-v-4661b6c8] {
    fill: hsla(0,0%,100%,.5)
}

.wrapper .content .config-macro-item>.body .drag-wrapper .actions-list-wrapper .actions-list .action-type:hover>span[data-v-4661b6c8] {
    color: #fff
}

.empty-profiles[data-v-4661b6c8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.7777777778vh;
    margin: auto;
    max-width: 30.8333333333vh
}

.empty-profiles>svg[data-v-4661b6c8] {
    width: 12.962962963vh;
    height: 11.1111111111vh;
    fill: hsla(0,0%,100%,.5)
}

.empty-profiles>p[data-v-4661b6c8] {
    color: hsla(0,0%,100%,.75);
    font-size: 1.4814814815vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%
}

.scroll[data-v-4661b6c8] {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable
}

.scroll[data-v-4661b6c8]::-webkit-scrollbar {
    width: .1851851852vh
}

.scroll[data-v-4661b6c8]::-webkit-scrollbar-track {
    background-color: #323231
}

.scroll[data-v-4661b6c8]::-webkit-scrollbar-thumb {
    background-color: #686868
}

.drag[data-v-4661b6c8] {
    position: absolute;
    top: 0;
    left: calc(100% - 2.59259vh);
    right: 1.6666666667vh;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: .3703703704vh;
    width: .9259259259vh;
    height: 1.5740740741vh;
    cursor: pointer
}

.drag>div[data-v-4661b6c8] {
    flex-shrink: 0;
    width: .2777777778vh;
    height: .2777777778vh;
    border-radius: 50%;
    background-color: hsla(0,0%,100%,.1);
    transition: background-color .2s ease
}

.drag:hover>div[data-v-4661b6c8] {
    background-color: hsla(0,0%,100%,.5)
}

[data-v-4661b6c8] .DragFeedback,[data-v-4661b6c8] .__feedback {
    display: none!important;
    position: absolute!important
}

[data-v-4661b6c8] {
    font-family: Proxima Nova,serif
}
