.containers {
    &-modal {
        .modal-body {
            margin-top: 1.875rem;
            width: 100%;

            display: flex;
            flex-direction: column;

            .take-decision {
                margin-top: 1.875rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__title {
                    font-weight: 500;
                    font-style: normal;
                    font-size: .875rem;
                    color: rgba(6, 6, 6, .5);
                }

                .time-left {
                    padding: .5rem .375rem;
                    gap: .5rem;
                    border: .0625rem solid #dadada;
                    border-radius: .375rem;
                    width: 9.4375rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &__picture {
                        width: 1rem;
                        height: 1rem;
                        pointer-events: none
                    }

                    &__title {
                        font-weight: 500;
                        font-style: normal;
                        font-size: .875rem;
                        color: #060606;
                    }
                }
            }

            .control-buttons {
                margin-top: 1.25rem;
                gap: .875rem;
                width: 100%;
                display: flex;
                flex-direction: row;

                .control-button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    height: 2.75rem;
                    border-radius: .375rem;
                    gap: .625rem;
                    cursor: pointer;
                    transition: background-color .2s ease;

                    &.take {
                        background-color: #1a6fc4;
                        color: #fff;

                        &:hover {
                            background-color: #1860a9;
                        }
                    }

                    &.sell {
                        border: .0625rem solid #dadada;
                        background-color: #eaeaea;
                        color: rgba(6, 6, 6, .5);

                        &:hover {
                            background-color: #fff;
                        }
                    }

                    &__picture {
                        width: 1rem;
                        height: 1rem;
                        pointer-events: none;
                    }

                    &__title {
                        font-weight: 500;
                        font-style: normal;
                        font-size: .875rem;

                        .highlighted {
                            color: #060606;
                        }
                    }
                }
            }

            .container-content {
                height: 14.625rem;
                background-color: #fff;
                border: .0625rem solid #dadada;
                border-radius: .375rem;
                position: relative;
                overflow: hidden;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                width: 100%;

                .color {
                    position: absolute;
                    top: .875rem;
                    left: .875rem;
                    width: 1.5rem;
                    height: .375rem;
                    border-radius: 6.25rem;

                    &.red {
                        background-color: #e81c3f;
                        box-shadow: 0 0 8rem 4rem rgba(232,28,63,.25)
                    }
                    &.gold {
                        background-color: #feb336;
                        box-shadow: 0 0 8rem 4rem rgba(254,179,54,.25)
                    }
                    &.pink {
                        background-color: #ff39dd;
                        box-shadow: 0 0 8rem 4rem rgba(255,57,221,.25)
                    }
                    &.purple {
                        background-color: #5e47ff;
                        box-shadow: 0 0 8rem 4rem rgba(94,71,255,.25)
                    }
                    &.blue {
                        background-color: #77b5fe;
                        box-shadow: 0 0 8rem 4rem rgba(119,181,254,.25)
                    }
                    &.gray {
                        background-color: #d6d6d6;
                        box-shadow: 0 0 8rem 4rem hsla(0,0%,84%,.25)
                    }
                    &.unique {
                        background-color: #1ff5b3;
                        box-shadow: 0 0 8rem 4rem rgba(31,245,179,.25)
                    }
                }

                .confetti {
                    position: absolute;
                    left: 0;
                    top: 0;

                    height: 100%;
                    width: 100%;
                }

                &__picture {
                    width: 16.2225rem;
                    height: 8rem;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    z-index: 2;
                    position: relative;

                    pointer-events: none;
                }

                &__title {
                    font-weight: 900;
                    font-style: normal;
                    font-size: 1rem;
                    color: #060606;
                    position: relative;
                    z-index: 2;
                    margin-top: 1.875rem;
                }
            }
        }
    }
}