.row-block {
    display: flex;
    flex-direction: row
}

.row-reverse-block {
    display: flex;
    flex-direction: row-reverse
}

.column-block {
    display: flex;
    flex-direction: column
}

.flex-block {
    display: flex
}

.justify-start {
    display: flex;
    justify-content: flex-start
}

.justify-center {
    display: flex;
    justify-content: center
}

.justify-between {
    display: flex;
    justify-content: space-between
}

.justify-end {
    display: flex;
    justify-content: flex-end
}

.align-start {
    display: flex;
    align-content: flex-start
}

.align-center {
    display: flex;
    align-items: center
}

.align-end {
    display: flex;
    align-items: flex-end
}

.full-width {
    width: 100%
}

.full-height {
    height: 100%
}

.picture-handler {
    display: flex;
    cursor: pointer
}

.debug {
    border: 1px solid red
}

.fade-up-animation {
    animation: fadeOutUp-438e6e7a 1s ease
}

.fade-down-animation {
    animation: fadeOutDown-438e6e7a 1s ease
}

@keyframes fadeOutUp-438e6e7a {
    0% {
        opacity: 1;
        transform: translateY(0);
        background-color: #40b6ff;
        color: #fff
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        background-color: #40b6ff;
        color: #fff
    }
}

@keyframes fadeOutDown-438e6e7a {
    0% {
        opacity: 1;
        transform: translateY(0);
        background-color: #071e30;
        color: #fff
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        background-color: #071e30;
        color: #fff
    }
}

.logotype-enter-active {
    animation: logotype-438e6e7a .5s ease
}

.logotype-leave-active {
    animation: logotype-438e6e7a .5s ease reverse
}

@keyframes logotype-438e6e7a {
    0% {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.cardMoveIn {
    animation: cardMoveInside-438e6e7a ease forwards;
    animation-duration: 2s
}

.cardMoveOut {
    animation: cardMoveOutside-438e6e7a ease forwards;
    animation-duration: 2s
}

@keyframes cardMoveOutside-438e6e7a {
    0% {
        right: 27.7777777778vh
    }

    to {
        right: 1.0185185185vh
    }
}

@keyframes cardMoveInside-438e6e7a {
    0% {
        right: 1.0185185185vh
    }

    to {
        right: 27.7777777778vh
    }
}

@keyframes borderBlink-438e6e7a {
    0% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.fade-enter,.fade-leave-to {
    opacity: 0
}

.fade-enter-active,.fade-leave-active {
    transition: opacity .5s
}

@keyframes slide-up-438e6e7a {
    0% {
        transform: translateY(-20%);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-down-438e6e7a {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    to {
        transform: translateY(20%);
        opacity: 0
    }
}

.ipad-slide-enter-active {
    animation: ipad-slide-438e6e7a .4s ease
}

.ipad-slide-leave-active {
    animation: ipad-slide-438e6e7a .4s ease reverse
}

@keyframes ipad-slide-438e6e7a {
    0% {
        transform: translateY(120%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes bounce-in-transition-438e6e7a {
    0% {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.input-blockOp {
    padding: 0!important;
    overflow: visible!important;
    position: relative
}

.input-blockOp .input-blockOp__wrapper {
    position: relative;
    margin-left: -.037037037vh;
    width: calc(100% + .13889vh);
    height: 100%;
    overflow: hidden
}

.input-blockOp .input-blockOp__wrapper span {
    margin-right: .2777777778vh
}

.input-blockOp .input-blockOp__wrapper input {
    height: 100%;
    border: none;
    background-color: transparent
}

.input-blockOp .input-blockOp__wrapper .additional {
    margin-left: auto
}

.input-blockOp .input-blockOp__wrapper .additional input {
    text-align: end
}

.input-blockOp .input-blockOp__wrapper .additional span {
    margin-left: .462962963vh
}

.input-blockOp .input-blockOp__wrapper .additional svg {
    width: 1.4814814815vh;
    height: 1.4814814815vh;
    margin-left: .5555555556vh
}

.input-blockOp .input-blockOp__wrapper .trail-back {
    position: absolute;
    bottom: 0;
    left: 0;
    height: .2777777778vh;
    width: 100%
}

.input-blockOp .input-blockOp__wrapper .trail-back .trail-value {
    height: 100%;
    transition: width .5s ease
}

.input-blockOp .input-blockOp__wrapper .additionalValue {
    margin-right: 0;
    margin-left: auto
}

.input-blockOp .vue-slider {
    position: absolute;
    padding: 0!important;
    left: 0;
    bottom: 0;
    width: 100%!important;
    height: .9259259259vh!important
}

.input-blockOp .vue-slider .vue-slider-rail {
    height: 100%
}

.input-blockOp .vue-slider .vue-slider-dot {
    border-radius: 50%;
    cursor: pointer
}

.operator .content-container .replenishment,.operator .replenishment-container .replenishment {
    display: flex;
    justify-content: center;
    align-items: center
}

.row-block {
    display: flex;
    flex-direction: row
}

.row-reverse-block {
    display: flex;
    flex-direction: row-reverse
}

.column-block {
    display: flex;
    flex-direction: column
}

.flex-block {
    display: flex
}

.justify-start {
    display: flex;
    justify-content: flex-start
}

.justify-center {
    display: flex;
    justify-content: center
}

.justify-between {
    display: flex;
    justify-content: space-between
}

.justify-end {
    display: flex;
    justify-content: flex-end
}

.align-start {
    display: flex;
    align-content: flex-start
}

.align-center {
    display: flex;
    align-items: center
}

.align-end {
    display: flex;
    align-items: flex-end
}

.full-width {
    width: 100%
}

.full-height {
    height: 100%
}

.picture-handler {
    display: flex;
    cursor: pointer
}

.debug {
    border: 1px solid red
}

.fade-up-animation {
    animation: fadeOutUp-b430e1f0 1s ease
}

.fade-down-animation {
    animation: fadeOutDown-b430e1f0 1s ease
}

@keyframes fadeOutUp-b430e1f0 {
    0% {
        opacity: 1;
        transform: translateY(0);
        background-color: #40b6ff;
        color: #fff
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        background-color: #40b6ff;
        color: #fff
    }
}

@keyframes fadeOutDown-b430e1f0 {
    0% {
        opacity: 1;
        transform: translateY(0);
        background-color: #071e30;
        color: #fff
    }

    to {
        opacity: 0;
        transform: translateY(100%);
        background-color: #071e30;
        color: #fff
    }
}

.logotype-enter-active {
    animation: logotype-b430e1f0 .5s ease
}

.logotype-leave-active {
    animation: logotype-b430e1f0 .5s ease reverse
}

@keyframes logotype-b430e1f0 {
    0% {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.cardMoveIn {
    animation: cardMoveInside-b430e1f0 ease forwards;
    animation-duration: 2s
}

.cardMoveOut {
    animation: cardMoveOutside-b430e1f0 ease forwards;
    animation-duration: 2s
}

@keyframes cardMoveOutside-b430e1f0 {
    0% {
        right: 27.7777777778vh
    }

    to {
        right: 1.0185185185vh
    }
}

@keyframes cardMoveInside-b430e1f0 {
    0% {
        right: 1.0185185185vh
    }

    to {
        right: 27.7777777778vh
    }
}

@keyframes borderBlink-b430e1f0 {
    0% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.fade-enter,.fade-leave-to {
    opacity: 0
}

.fade-enter-active,.fade-leave-active {
    transition: opacity .5s
}

@keyframes slide-up-b430e1f0 {
    0% {
        transform: translateY(-20%);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-down-b430e1f0 {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    to {
        transform: translateY(20%);
        opacity: 0
    }
}

.ipad-slide-enter-active {
    animation: ipad-slide-b430e1f0 .4s ease
}

.ipad-slide-leave-active {
    animation: ipad-slide-b430e1f0 .4s ease reverse
}

@keyframes ipad-slide-b430e1f0 {
    0% {
        transform: translateY(120%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes bounce-in-transition-b430e1f0 {
    0% {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.operator {
    background-color: #f4f2ff
}

.operator .figure-1 {
    width: 38.6111111111vh;
    height: 38.6111111111vh;
    border-radius: 50%;
    background-color: #d7d0f8;
    position: absolute;
    top: -17.5vh;
    margin-left: 1.6666666667vh
}

.operator .figure-2 {
    width: 14.9074074074vh;
    height: 14.9074074074vh;
    border-radius: 50%;
    background-color: #7f64ff;
    position: absolute;
    right: -8.1481481481vh;
    top: -1.2962962963vh
}

.operator .figure-3 {
    width: 7.8703703704vh;
    height: 7.8703703704vh;
    border-radius: 50%;
    background-color: #7f64ff;
    position: absolute;
    left: -6.4814814815vh;
    top: 6.0185185185vh
}

.operator .figure-4 {
    width: 10.2777777778vh;
    height: 10.2777777778vh;
    border-radius: 50%;
    background-color: #7f64ff;
    position: absolute;
    left: 8.6111111111vh;
    top: -8.0555555556vh
}

.operator .logo {
    left: 1.1111111111vh
}

.operator .avatar,.operator .logo {
    position: absolute;
    width: 3.7037037037vh;
    height: 3.7037037037vh;
    top: 5.0925925926vh
}

.operator .avatar {
    display: block;
    border-radius: 50%;
    right: 1.2037037037vh
}

.operator .content-container {
    position: relative;
    z-index: 2;
    padding: 5.0925925926vh 1.1111111111vh 3.2407407407vh 1.1111111111vh
}

.operator .content-container__title {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1111111111vh;
    color: #7f64ff
}

.operator .content-container__value {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4814814815vh;
    color: #000;
    margin-top: .462962963vh
}

.operator .content-container .balance-container {
    margin-top: 5.5555555556vh;
    position: relative;
    height: 13.8888888889vh;
    background-image: linear-gradient(0deg,#6045d5,#b19eff);
    border-radius: 1.6666666667vh;
    overflow: hidden;
    padding: 1.8518518519vh
}

.operator .content-container .balance-container .balance-figure-1 {
    width: 9.7222222222vh;
    height: 9.7222222222vh;
    background-color: rgba(255,64,123,.5);
    border-radius: 50%;
    position: absolute;
    top: -6.6666666667vh;
    right: -4.0740740741vh
}

.operator .content-container .balance-container .balance-figure-2 {
    width: 9.7222222222vh;
    height: 9.7222222222vh;
    background-color: rgba(255,64,123,.5);
    border-radius: 50%;
    position: absolute;
    bottom: -6.2037037037vh;
    left: -3.6111111111vh
}

.operator .content-container .balance-container__title {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4814814815vh;
    color: #fff
}

.operator .content-container .balance-container__value {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 2.962962963vh;
    color: #fff;
    margin-top: .7407407407vh
}

.operator .content-container .balance-container__text {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #fff
}

.operator .content-container .pros {
    margin-top: 1.8518518519vh
}

.operator .content-container .pros-container {
    width: 7.4074074074vh;
    height: 9.3518518519vh;
    background-color: #b19eff;
    border-radius: 1.1111111111vh;
    position: relative;
    overflow: hidden
}

.operator .content-container .pros-container .pros-figure {
    width: 9.2592592593vh;
    height: 9.2592592593vh;
    border-radius: 50%;
    background-image: linear-gradient(0deg,#6045d5,#fff);
    position: absolute;
    top: -4.2592592593vh;
    opacity: .25
}

.operator .content-container .pros-container__icon {
    width: 1.8518518519vh;
    height: 1.8518518519vh;
    margin-top: 1.1111111111vh;
    position: relative;
    z-index: 2
}

.operator .content-container .pros-container__value {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4814814815vh;
    color: #fff;
    margin-top: 2.2222222222vh
}

.operator .content-container .pros-container__title,.operator .content-container .replenishment {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1111111111vh;
    color: #63559f
}

.operator .content-container .replenishment {
    height: 4.1666666667vh;
    border-radius: .7407407407vh;
    text-transform: uppercase;
    background-color: rgba(177,158,255,.5);
    cursor: pointer;
    transition: .2s ease;
    transition-property: background-color,color
}

.operator .content-container .replenishment:hover {
    background-color: #6045d5;
    color: #fff
}

.operator .replenishment-container {
    position: absolute;
    top: 100%;
    height: 55.8333333333vh;
    background-color: #f4f2ff;
    border-top-right-radius: 1.1111111111vh;
    border-top-left-radius: 1.1111111111vh;
    z-index: 2;
    padding-top: .9259259259vh;
    transition: top .2s ease;
    padding: .9259259259vh 1.5740740741vh 3.1481481481vh 1.5740740741vh
}

.operator .replenishment-container.showed {
    top: 4.8148148148vh
}

.operator .replenishment-container .hide-button {
    width: 3.3333333333vh;
    height: .462962963vh;
    border-radius: 9.2592592593vh;
    background-color: #000;
    cursor: pointer
}

.operator .replenishment-container__title {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #000;
    margin-top: .9259259259vh
}

.operator .replenishment-container .data-container {
    margin-top: 2.2222222222vh
}

.operator .replenishment-container .data-container__title {
    margin-bottom: .7407407407vh;
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1111111111vh;
    color: #6c619c;
    text-transform: uppercase
}

.operator .replenishment-container .data-container .data-block {
    padding: 1.1111111111vh;
    background-color: #fff;
    border-radius: .7407407407vh;
    margin-top: .7407407407vh;
    position: relative
}

.operator .replenishment-container .data-container .data-block .vue-slider-background {
    background-color: #e2e2e2;
    position: absolute;
    height: .3703703704vh;
    bottom: 0;
    left: 0;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='41'%3E%3Crect data-name='Rectangle 5867' width='272' height='41' rx='8' fill='%23fff'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='41'%3E%3Crect data-name='Rectangle 5867' width='272' height='41' rx='8' fill='%23fff'/%3E%3C/svg%3E");
    -webkit-mask-size: 25.1851851852vh 3.7962962963vh;
    mask-size: 25.1851851852vh 3.7962962963vh;
    -webkit-mask-position: left bottom;
    mask-position: left bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat
}

.operator .replenishment-container .data-container .data-block__slider {
    position: absolute;
    bottom: 0;
    width: 100%!important;
    padding: 0!important;
    height: .3703703704vh!important;
    left: 0
}

.operator .replenishment-container .data-container .data-block__slider .vue-slider-process {
    background-color: #ff407b;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='41'%3E%3Crect data-name='Rectangle 5867' width='272' height='41' rx='8' fill='%23fff'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='41'%3E%3Crect data-name='Rectangle 5867' width='272' height='41' rx='8' fill='%23fff'/%3E%3C/svg%3E");
    -webkit-mask-size: 25.1851851852vh 3.7962962963vh;
    mask-size: 25.1851851852vh 3.7962962963vh;
    -webkit-mask-position: left bottom;
    mask-position: left bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat
}

.operator .replenishment-container .data-container .data-block__slider .vue-slider-dot {
    width: 1.4814814815vh!important;
    height: 1.4814814815vh!important;
    background-color: #fff;
    border: .2314814815vh solid #ff407b;
    border-radius: 50%;
    cursor: pointer
}

.operator .replenishment-container .data-container .data-block .replenish-avatar {
    display: block;
    width: 4.537037037vh;
    height: 4.537037037vh;
    border-radius: 50%
}

.operator .replenishment-container .data-container .data-block .my-number {
    margin-left: .7407407407vh;
    gap: .3703703704vh
}

.operator .replenishment-container .data-container .data-block .my-number__title {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #000
}

.operator .replenishment-container .data-container .data-block .my-number__value {
    font-family: ProximaNova;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #6c619c
}

.operator .replenishment-container .data-container .data-block .card-image {
    width: 1.5740740741vh;
    height: 1.5740740741vh;
    margin-right: .7407407407vh
}

.operator .replenishment-container .data-container .data-block__title {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #000
}

.operator .replenishment-container .data-container .data-block.value-input {
    height: 3.7962962963vh
}

.operator .replenishment-container .data-container .data-block__text-dollar {
    font-family: ProximaNova;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #ff407b
}

.operator .replenishment-container .data-container .data-block__input {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #000;
    border: none;
    background-color: transparent;
    margin-left: .3703703704vh
}

.operator .replenishment-container .data-container .input-blockOp {
    min-height: 3.7962962963vh;
    max-height: 3.7962962963vh;
    border-radius: .7407407407vh;
    background-color: #fff
}

.operator .replenishment-container .data-container .input-blockOp .input-blockOp__wrapper {
    padding: 1.1111111111vh .7407407407vh;
    border-radius: .5555555556vh
}

.operator .replenishment-container .data-container .input-blockOp .input-blockOp__wrapper span {
    margin-right: .3703703704vh;
    font-family: ProximaNova;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #ff407b
}

.operator .replenishment-container .data-container .input-blockOp .input-blockOp__wrapper input {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2962962963vh;
    color: #000
}

.operator .replenishment-container .data-container .input-blockOp .input-blockOp__wrapper input::-moz-placeholder {
    color: rgba(0,0,0,.5)
}

.operator .replenishment-container .data-container .input-blockOp .input-blockOp__wrapper input::placeholder {
    color: rgba(0,0,0,.5)
}

.operator .replenishment-container .data-container .input-blockOp .input-blockOp__wrapper .trail-back {
    min-height: .3703703704vh;
    height: .3703703704vh;
    background-color: #dadada
}

.operator .replenishment-container .data-container .input-blockOp .input-blockOp__wrapper .trail-back .trail-value {
    background-color: #ff407b
}

.operator .replenishment-container .data-container .input-blockOp .vue-slider .vue-slider-dot {
    top: 80%!important;
    width: 1.4814814815vh!important;
    height: 1.4814814815vh!important;
    background-color: #fff;
    border: .1851851852vh solid #ff407b
}

.operator .replenishment-container .replenishment {
    font-family: ProximaNova;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1111111111vh;
    height: 4.1666666667vh;
    background-color: rgba(177,158,255,.5);
    color: #63559f;
    text-transform: uppercase;
    border-radius: .7407407407vh;
    cursor: pointer;
    transition: .2s ease;
    transition-property: background-color,color
}

.operator .replenishment-container .replenishment:hover {
    background-color: #6045d5;
    color: #fff
}

.close-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .5555555556vh;
    height: 2.2222222222vh;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 6
}

.close-block-handler {
    width: 11.1111111111vh;
    height: .462962963vh;
    border-radius: 9.2592592593vh;
    background-color: #000
}
